<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>HematWoi</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.hematwoi.app</string>
    <key>CFBundleName</key>
    <string>HematWoi</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.hematwoi.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>hematwoi</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.googleusercontent.apps.REVERSED_CLIENT_ID</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>REVERSED_CLIENT_ID</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>google</string>
        <string>com.googleusercontent.apps.REVERSED_CLIENT_ID</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>Kami membutuhkan akses kamera untuk mengambil foto bukti transaksi.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Kami membutuhkan akses galeri untuk memilih bukti transaksi.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Aplikasi menyimpan foto bukti transaksi ke perangkat Anda.</string>
    <key>NSUserActivityTypes</key>
    <array>
        <string>NSUserActivityTypeBrowsingWeb</string>
    </array>
</dict>
</plist>
